<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MBlog</title>
    {% stylesheets output="css-compiled/main.css"
    "@AdminBundle/Resources/public/css/bootstrap.min.css"
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="#">Mblog panel</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ path('adminPageList') }}">Blog entries</a>
                        </li>
                        <li>
                            <a href="#">Categories</a>
                        </li>
                        <li>
                            <a href="#">Comments</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </nav>
            {% block body %}
                default body
            {% endblock %}

        </div>
    </div>
</div>

{% javascripts
'@AdminBundle/Resources/public/js/jquery.min.js'
output='js-compiled/main.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>